.nav-style{
    padding: 20px;
    background: rgba(247, 70, 0, 0.658);
    color: white;

    a{
        color: white;
    }

    li:hover{
        background: rgba(243, 0, 0, 0.658);
    }
}

.content{
    padding: 30px;
}
